.auth-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: #f4f4f4;
font-family: Arial;
}


.auth-box {
background: white;
padding: 30px;
width: 320px;
border-radius: 10px;
box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
text-align: center;
}


.auth-box h2 {
margin-bottom: 20px;
}


.auth-box input {
width: 100%;
padding: 12px;
margin: 8px 0;
border: 1px solid #aaa;
border-radius: 6px;
}


.auth-box button {
width: 100%;
padding: 12px;
background: #007bff;
color: white;
border: none;
border-radius: 6px;
cursor: pointer;
margin-top: 10px;
}


.auth-box button:hover {
background: #0056b3;
}


.error-text {
color: red;
margin-bottom: 10px;
}


.info-text {
color: green;
margin-bottom: 10px;
}